<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            id="io.github.junxworks.tools.packageContribution"
            objectClass="org.eclipse.jdt.core.IPackageFragment">
         <menu
               icon="icons/ctrl/J.png"
               id="io.github.junxworks.tools.junxmenu"
               label="Junx"
               path="additions">
            <separator
                  name="packageOp">
            </separator>
             <separator
                  name="configOp">
            </separator>
             <separator
                  name="about">
            </separator>
         </menu>
         <action
               class="io.github.junxworks.tools.actions.CreateMetadataAction"
               icon="icons/ctrl/addPojo.png"
               id="io.github.junxworks.tools.actions.CreateMetadataAction"
               label="Create Metadata"
               menubarPath="io.github.junxworks.tools.junxmenu/packageOp">
         </action>
         <action
               class="io.github.junxworks.tools.actions.MetadataTemlateConfigAction"
               icon="icons/config.png"
               id="io.github.junxworks.tools.actions.MetadataTemlateConfigAction"
               label="Config Metadata Template"
               menubarPath="io.github.junxworks.tools.junxmenu/configOp">
         </action>
         <action
               class="io.github.junxworks.tools.actions.DbConnectAction"
               icon="icons/config.png"
               id="io.github.junxworks.tools.actions.DbConnectAction"
               label="DB Config"
               menubarPath="io.github.junxworks.tools.junxmenu/configOp">
         </action>
          <action
               class="io.github.junxworks.tools.actions.AboutAction"
               icon="icons/config.png"
               id="io.github.junxworks.tools.actions.AboutAction"
               label="Plugin Introduction"
               menubarPath="io.github.junxworks.tools.junxmenu/about">
         </action>
      </objectContribution>
   </extension>
</plugin>
