<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="io.github.junxworks.tools.commands.menucategory"
            name="MenuCategory">
      </category>
      <command
            categoryId="io.github.junxworks.tools.commands.menucategory"
            id="io.github.junxworks.tools.commands.openConfigCommand"
            name="OpenConfigCommand">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="io.github.junxworks.tools.handlers.OpenConfigHandler"
            commandId="io.github.junxworks.tools.commands.openConfigCommand">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="io.github.junxworks.tools.commands.openConfigCommand"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+6">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="io.github.junxworks.tools.toolbars.configToolbar">
            <command
                  commandId="io.github.junxworks.tools.commands.openConfigCommand"
                  icon="icons/config.png"
                  id="io.github.junxworks.tools.toolbars.openConfigCommand"
                  tooltip="数据库配置">
            </command>
         </toolbar>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            id="io.github.junxworks.tools.packageContribution"
            objectClass="org.eclipse.jdt.core.IPackageFragment">
         <menu
               icon="icons/ctrl/J.png"
               id="io.github.junxworks.tools.junxmenu"
               label="junx"
               path="additions">
            <separator
                  name="packageOp">
            </separator>
         </menu>
         <action
               class="io.github.junxworks.tools.actions.CreatePojoAction"
               icon="icons/ctrl/addPojo.png"
               id="io.github.junxworks.tools.actions.CreatePojoAction"
               label="创建实体类"
               menubarPath="io.github.junxworks.tools.junxmenu/packageOp">
         </action>
         <action
               class="io.github.junxworks.tools.actions.AddServiceAction"
               icon="icons/ctrl/add.png"
               id="io.github.junxworks.tools.action3"
               label="新增服务">
         </action>
         <action
               class="io.github.junxworks.tools.actions.CreateEntityAction"
               icon="icons/ctrl/add.png"
               id="io.github.junxworks.tools.actions.CreateEntityAction"
               label="手动添加实体类">
         </action>
      </objectContribution>
      <objectContribution
            adaptable="false"
            id="io.github.junxworks.tools.javaObjectContribution"
            objectClass="org.eclipse.jdt.core.ICompilationUnit">
         <menu
               icon="icons/ctrl/J.png"
               id="io.github.junxworks.tools.javaObjectMenu"
               label="Junx">
            <separator
                  name="objectOp">
            </separator>
         </menu>
         <action
               class="io.github.junxworks.tools.actions.UpdatePojoAction"
               icon="icons/ctrl/update.png"
               id="io.github.junxworks.tools.actions.UpdatePojoAction"
               label="更新实体类"
               menubarPath="io.github.junxworks.tools.javaObjectMenu/objectOp">
         </action>
      </objectContribution>
   </extension>


</plugin>
